.body{
  background-image:none;
  cursor: url("happy.png"), auto; 
  
}
.Container{
  padding-top:40px;
  padding-bottom:30px;
  
}
.mySlides {
height: 375px;
background: transparent no-repeat center;
cursor: url("happy.png"), auto;
transition: transform 0.25s ease; 
}
.Name {
  position: relative;left:0%;
  display: inline-block;
  cursor: url("happy.png"), auto;
}
.Name .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.Name:hover .img-top {
  
  display: inline;
}


.button_1{
    font-style: italic;
    border: none;
    background: none;
    color: grey;
    font-size:15px;
    padding-left:25px;
    cursor: url("happy.png"), auto;   
    padding-bottom:50px;
}
  
  .button_2{
       font-style: italic;
    border: none;
    background: none;
    color: grey;
    padding: 12px 16px;
    cursor: url("happy.png"), auto;
    padding-bottom:50px;
}
  .button_2:active{
    color: black; 
    cursor: url("happy.png"), auto;
    font-size: 17px;
  
  }
   .button_1:active{
    color: black; 
    cursor: url("happy.png"), auto;
    font-size: 17px;
  }
  .menu{
      color:orange;
      outline-style:none;
      font-size:14px;
      text-decoration:none;
      font-weight: 80;
      padding-left:15px;
      cursor: url("happy.png"), auto;
      position:absolute;right:42%;top:15%;
      z-index:100;
  }

.home{
   cursor: url("happy.png"), auto;
}

.CV{
   cursor: url("happy.png"), auto;
}

.contact{
   cursor: url("happy.png"), auto;
}
  pre{
      position:absolute;left:100px;
      padding-top:20px;
      padding-bottom:50px;
      cursor: url("happy.png"), auto;
  }
