.body{
  background-image:none;
  cursor: url("MOUSE.cur"), auto; 
}
.body:active{
  background-image:none;
  cursor: url("MOUSE.cur"), auto; 
}


.*{
  cursor: url("MOUSE.cur"), auto;
}
a{
  cursor: url("MOUSE.cur"), auto;
}


.Container{
  padding-top:40px;
  padding-bottom:30px;
}
.mySlides {
height: 375px;
background: transparent no-repeat center;
transition: transform 0.25s ease; 
}
.Name {
  position: relative;left:0%;
  display: inline-block;
}
.Name .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.Name:hover .img-top {
  display: inline;
}
.home{
width:70px;
position:absolute;left:42%;
}
.home:active{
width:73px;
}
.CV{
  width:70px;
  position:absolute;left:48%;
  }
  .CV:active{
  width:73px;
  }
  .contact{
    width:80px;
    position:absolute;left:55%;
    }
    .contact:active{
    width:83px;
    }
.button_1{
    border: none;
    background: none;
    position:absolute;left:44%;  
    padding-bottom:50px;
}
  
  .button_2{
    border: none;
    background: none;
    position:absolute;left:50%;
    padding-bottom:50px;
}
  .Soon:active{ 
    height:70px; 
  
  }
   .Back:active{
    height:70px; 
  }
  .menu{
      padding-left:15px;
      z-index:100;
  }


  pre{
      position:absolute;left:100px;
      padding-top:20px;
      padding-bottom:50px;
  }
.bird{
  width:200px;
  z-index:-1;
}
