.body{
  background-image:none;
  cursor: url("happy.png"), auto; 
  
}
.Container{
  padding-top:40px;
  padding-bottom:30px;
}
.mySlides {
height: 375px;
background: transparent no-repeat center;
cursor: url("happy.png"), auto;
transition: transform 0.25s ease; 

}
    
.title{
  text-decoration: none;
  font-family:Helvetica, sans-serif;
  font-size: 1.5em;
  Color:rgb(178, 204, 178);
  font-weight: 100;
  transform: scaleY(1.5);
  cursor: url("happy.png"), auto; 

}
.center_button{
  color:black;
  border-radius: 20%;
  background: none;
  position:relative;left:15%;
  font-size:12px;
}

.button_1{
    font-style: italic;
    border: none;
    background: none;
    color: grey;
    font-size:15px;
    padding-left:25px;
    cursor: url("happy.png"), auto;   
    padding-bottom:50px;
}
  
  .button_2{
       font-style: italic;
    border: none;
    background: none;
    color: grey;
    font-size:15px;
    padding-left:25px;
    cursor: url("happy.png"), auto;
    padding-bottom:50px;
}
  .button_2:active{
    color: black; 
    cursor: url("happy.png"), auto;
    font-size: 17px;
  
  }
   .button_1:active{
    color: black; 
    cursor: url("happy.png"), auto;
    font-size: 17px;
  }
  .menu{
      color:orange;
      outline-style:none;
      font-size:14px;
      text-decoration:none;
      font-weight: 80;
      padding-left:15px;
      cursor: url("happy.png"), auto;
  }
  .menu:active{
    font-size:16px;
}
  pre{
      position:absolute;left:100px;
      padding-top:20px;
      padding-bottom:50px;
      cursor: url("happy.png"), auto;
  }
